$heroTitleColor:red;
h1{
    color:red;
    text-align: center;
}
h3{
    font-style: italic;
    color:lightgray;
    font-size: 90%;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}
div{
    h4{
        color:purple;
    }
}
#marvel{
    background-color: lightseagreen;
}
#dc{
    background-color: lightgreen;
}
#manga{
    background-color: lightsalmon;
}
.heroTitle{
    color:$heroTitleColor;
}
h5{
    @extend.heroTitle;
    font-style: italic;
}
@media only screen and (max-width: 600px) {
    .hide {
      display: none;
    }
  }